@import "tailwindcss";
@source '../../templates/**/*.twig';

@plugin './styles/iconify.mjs';

@theme {
  --color-*: initial;
  --color-primary: #ffffff;
  --color-label: #000000;
  --color-disabled: #808080;
  --color-border: #f6f6f6;
}

@layer components {
  .spinner {
    &::before {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      border: 2px solid currentColor;
      border-top-color: transparent;
      border-radius: 50%;
      animation: spinner 500ms linear infinite;
    }
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
