{% extends 'base.html.twig' %}

{% block body %}
    {% include '/admin/components/navbar.html.twig' %}

    <div class="container">
        <h1>Edit Brand</h1>
        <form action="{{ path('app_admin_brand_update', {id: brand.id})  }}" method="post">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{ brand.name }}">
            </div>
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}