{% extends 'base.html.twig' %}

{% block body %}
    {% include '/admin/components/navbar.html.twig' %}

    <div class="container">
    <h1>POSTS</h1>
    <table>
        <thead>
        <tr>
            <th>Text</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.text }}</td>
                <td>{{ post.author.name }}</td>
                <td>
                    <a href="">Edit</a>
                    <a href="{{ path('app_admin_delete_posts', { 'id': post.id}) }}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}