{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar">
        <ul>
            <li><a href="{{ path('app_admin_users') }}">Users</a></li>
            <li><a href="">Clothes</a></li>
            <li><a href="">Post</a></li>
        </ul>
    </nav>

    <div class="container">
    <h1>Users</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="">Edit</a>
                    <a href="" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}