{% set hide_nav_bar = true %}

{% extends 'base.html.twig' %}

{% block body %}
    <div {{ svelte_component('pages/NewElementToBookmark', {
        clothingList: clothingList,
        clothingId: clothingId,
    }) }}></div>
{% endblock %}
