<nav class="navbar">
    <ul>
        <li><a href="{{ path('app_admin_users') }}">Users</a></li>
        <li><a href="{{ path('app_admin_clothings') }}">Clothes</a></li>
        <li><a href="{{ path('app_admin_posts') }}">Post</a></li>
    </ul>
</nav>